{% extends "layouts/base.html" %}

{% block title %}About - Meowcake{% endblock %}

{% block content %}
<div class="mx-auto max-w-3xl px-6 py-12">
	<h1 class="mb-4 text-3xl font-bold">About Meowcake</h1>
	<p class="mb-4 text-lg">Meowcake is a simple website built with Rust and Cloudflare Workers using the Askama
		templating
		engine.</p>
	<p class="mb-4 text-lg">The goal of this project is to demonstrate how to build a web application using Rust and
		Cloudflare Workers, and to provide a simple example of how to
		use the Askama templating engine.</p>
	<p class="mb-4 text-lg">The source code for Meowcake is available on <a
			href="https://github.com/MariaGolubev/meowcake" class="text-blue-500 hover:underline">GitHub</a>.</p>
</div>
{% endblock %}