{% extends "layouts/base.html" %}

{% block title %}Home - Meowcake{% endblock %}

{% block content %}
<div class="mx-auto max-w-3xl px-6 py-12">
	<h1 class="mb-4 text-3xl font-bold">Welcome to Meowcake!</h1>
	<p class="mb-4 text-lg">This is a simple website built with Rust and Cloudflare Workers using the Askama templating
		engine.</p>
	<p class="mb-4 text-lg">Feel free to explore the different pages and see how it works!</p>
	<p class="mb-4 text-lg">You can find the source code for Meowcake on <a href="/about"
			class="text-blue-500 hover:underline">the About page</a>.</p>
</div>
{% endblock %}